* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  color: #3a4446;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: .3rem;
}

body {
  background-image: url(../Imagenes/background.jpg);
  background-repeat: repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #000000), to(#ffffff00));
  background-image: linear-gradient(to bottom, #000000 90%, #ffffff00);
  cursor: default;
}

header .logo {
  width: 68px;
  height: 51px;
}

header .lTexto {
  color: white;
  font-size: 2rem;
  -webkit-animation-name: led;
          animation-name: led;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  animation-direction: reverse;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes led {
  0% {
    text-shadow: 0 0 2px #52FBFF;
  }
  25% {
    text-shadow: 0 0 2px #52FBFF, 0 0 5px #52FBFF;
  }
  50% {
    text-shadow: 0 0 2px #52FBFF, 0 0 5px #52FBFF, 0 0 10px #52FBFF, 0 0 15px #52FBFF;
  }
  75% {
    text-shadow: 0 0 2px #52FBFF, 0 0 5px #52FBFF;
  }
  100% {
    text-shadow: 0 0 2px #52FBFF;
  }
}

@keyframes led {
  0% {
    text-shadow: 0 0 2px #52FBFF;
  }
  25% {
    text-shadow: 0 0 2px #52FBFF, 0 0 5px #52FBFF;
  }
  50% {
    text-shadow: 0 0 2px #52FBFF, 0 0 5px #52FBFF, 0 0 10px #52FBFF, 0 0 15px #52FBFF;
  }
  75% {
    text-shadow: 0 0 2px #52FBFF, 0 0 5px #52FBFF;
  }
  100% {
    text-shadow: 0 0 2px #52FBFF;
  }
}

header div nav .link {
  position: relative;
  color: #52FBFF;
}

header div nav .link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background: #459AFF;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

header div nav .link:hover {
  color: #3FB9E8;
}

header div nav .link:hover::before {
  width: 100%;
}

header div nav .active {
  position: relative;
  color: #ffffff;
}

main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), color-stop(0.5%, #ffffff), color-stop(99.5%, #ffffff), to(#ffffff00));
  background-image: linear-gradient(to bottom, #ffffff00, #ffffff 0.5%, #ffffff 99.5%, #ffffff00);
}

.destacado-articulo-link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  position: relative;
}

.destacado-articulo-link:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.destacado-articulo-link:hover .destacado-articulo-link-precio {
  opacity: 1;
}

.destacado-articulo-link:hover .destacado-articulo-link-descuento-contenedor {
  background-position: right;
}

.destacado-articulo-link-imagen {
  -webkit-box-shadow: 0px 0px 1px 2px #000000;
          box-shadow: 0px 0px 1px 2px #000000;
}

.destacado-articulo-link-descuento {
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -10px;
  right: -10px;
  width: 90px;
  height: 90px;
}

.destacado-articulo-link-descuento-contenedor {
  -webkit-transition: background-position .5s;
  transition: background-position .5s;
  z-index: 1;
  position: absolute;
  width: 200%;
  -webkit-transform: rotate(45deg) translateY(-16px);
          transform: rotate(45deg) translateY(-16px);
  background: -webkit-gradient(linear, left top, right top, from(#52FBFF), color-stop(#459AFF), to(#45FF99));
  background: linear-gradient(to right, #52FBFF, #459AFF, #45FF99);
  background-size: 300%;
  background-position: left;
  color: #000000;
  text-align: center;
}

.destacado-articulo-link-descuento::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #3a4446;
}

.destacado-articulo-link-descuento::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  background-color: #3a4446;
}

.destacado-articulo-link-precio {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0.3rem;
  background: #ffffff;
  color: #000000;
}

.juegos-articulo-link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  position: relative;
}

.juegos-articulo-link:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.juegos-articulo-link:hover .juegos-articulo-link-precio {
  opacity: 1;
}

.juegos-articulo-link:hover .juegos-articulo-link-descuento-contenedor {
  background-position: right;
}

.juegos-articulo-link-imagen {
  -webkit-box-shadow: 0px 0px 1px 2px #000000;
          box-shadow: 0px 0px 1px 2px #000000;
}

.juegos-articulo-link-descuento {
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -10px;
  right: -10px;
  width: 90px;
  height: 90px;
}

.juegos-articulo-link-descuento-contenedor {
  -webkit-transition: background-position .5s;
  transition: background-position .5s;
  z-index: 1;
  position: absolute;
  width: 200%;
  -webkit-transform: rotate(45deg) translateY(-16px);
          transform: rotate(45deg) translateY(-16px);
  background: -webkit-gradient(linear, left top, right top, from(#52FBFF), color-stop(#459AFF), to(#45FF99));
  background: linear-gradient(to right, #52FBFF, #459AFF, #45FF99);
  background-size: 300%;
  background-position: left;
  color: #000000;
  text-align: center;
}

.juegos-articulo-link-descuento::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #3a4446;
}

.juegos-articulo-link-descuento::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  background-color: #3a4446;
}

.juegos-articulo-link-precio {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0.3rem;
  background: #ffffff;
  color: #000000;
}

.juegos-articulo-nombre {
  margin-bottom: 1rem;
}

footer {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(90%, #000000), to(#ffffff00));
  background-image: linear-gradient(to top, #000000 90%, #ffffff00);
}

footer div div p {
  font-size: 1.2rem;
}

footer .redes {
  width: 40px;
  height: 40px;
}

.estreno-articulo-link {
  width: 100%;
  display: inline-block;
  position: relative;
}

.estreno-articulo-link:hover .estreno-articulo-link-precio {
  background: #000000;
  color: #ffffff;
  opacity: 1;
}

.estreno-articulo-link-fecha {
  z-index: 1;
  position: absolute;
  top: -5px;
  right: -15px;
  border-radius: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#52FBFF), color-stop(90%, #459AFF));
  background-image: linear-gradient(to right, #52FBFF, #459AFF 90%);
  color: #000000;
}

.estreno-articulo-link-fecha::after {
  z-index: -1;
  position: absolute;
  content: '';
  width: 15px;
  height: 23px;
  right: 0;
  top: 17px;
  background: #459AFF;
}

.estreno-articulo-link-fecha::before {
  z-index: 1;
  position: absolute;
  content: '';
  width: 15px;
  height: 20px;
  right: 0;
  top: 32px;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: #3a4446;
}

.estreno-articulo-link-precio {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0.3rem;
  background: #ffffff;
  color: #000000;
}

.faq h2 {
  color: #459AFF;
}

.faq p {
  margin-left: 10px;
  color: #3a4446;
}
