* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    background-image: url(../Imagenes/background.jpg);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.dZoom,.jZoom{
    width: 100%;
    transition: 0.1s;
    display: inline-block;
    position: relative;
}
.extra{
    position: absolute;
    bottom: 0; 
 }

.dZoom:hover{
    transform: scale(1.02);
}
.jZoom:hover{
    transform: scale(1.03);
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: .3rem;
}
.fecha{
    color: white;
    text-shadow: 1px 1px 1px black,1px 1px 2px black,1px 1px 3px black;
}

header {
    color: white;
    background-image: linear-gradient(to bottom, black 90%, rgba(0, 0, 0, 0));
}

footer {
    color: white;
    background-image: linear-gradient(to top, black 90%, rgba(0, 0, 0, 0));
}

main {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), aliceblue 1.5%, aliceblue 98.5%, rgba(0, 0, 0, 0));
}

/* 4:3 */
.logo {
    width: 68px;
    height: 51px;
}

.ltexto {
    font-size: 2rem;
    animation-name: led;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-direction: reverse;
    animation-delay: 2s;
}

.redes {
    width: 40px;
    height: 40px;
}

@keyframes led {
    0%{text-shadow: 0 0 2px cyan;}
    25%{text-shadow: 0 0 2px cyan,0 0 5px cyan;}
    50%{text-shadow: 0 0 2px cyan,0 0 5px cyan,0 0 10px cyan,0 0 15px cyan;letter-spacing: 1px;}
    75%{text-shadow: 0 0 2px cyan,0 0 5px cyan;}
    100%{text-shadow: 0 0 2px cyan;}
 }
 