.destacado{
    &-articulo{        
        &-link{
            transition: 0.1s;
            display: inline-block;
            position: relative;
            &:hover{
                transform: scale(1.02);
            }
            &-imagen{
                box-shadow: 0px 0px 3px 2px black;
            }
            &-extra{
                position: absolute;
                bottom: 0;
                &-precio{
                    position: relative;
                    left: -6px;
                    bottom: -6px;
                    border-radius: 0.3rem;
                    background-color: aqua;
                    color: black;
                }
                &-descuento{
                    position: relative;                    
                    bottom: -6px;
                    border-radius: 0.3rem;
                    background-color: rgba(0, 0, 0, 0.950);
                    color: aliceblue;
                }
            }
        }
    }
}