.estreno{
    &-articulo{
        &-link{
            width: 100%;
            display: inline-block;
            position: relative;
            &-extra{
                @include posicion-abajo;
                &-precio{
                    @extend .destacado-articulo-link-extra-precio;
                    left: -2px;
                    bottom: -2px;
                }
                &-fecha{
                    @extend .destacado-articulo-link-extra-precio;                    
                    right: 0px;
                    bottom: -2px;
                    background-color: rgba(0, 0, 0, 0.950);
                    color: map-get($colores,claro);
                }
            }
        }
    }
}