.estreno{
    &-articulo{
        &-link{
            width: 100%;
            display: inline-block;
            position: relative;
            &-extra{
                position: absolute;
                bottom: 0;
                &-precio{
                    position: relative;
                    left: -2px;
                    bottom: -2px;
                    border-radius: 0.3rem;
                    background-color: aqua;
                    color: black;
                }
                &-fecha{
                    position: relative;
                    right: 0px;
                    bottom: -2px;
                    border-radius: 0.3rem;
                    background-color: rgba(0, 0, 0, 0.950);
                    color: aliceblue;
                }
            }
        }
    }
}