.estreno{
    &-articulo{
        &-link{
            width: 100%;
            display: inline-block;
            position: relative;
            &:hover{
                .estreno-articulo-link-precio{
                    background: map-get($colores,negro);
                    color: map-get($colores,blanco);
                    opacity: 1;
                }
            }
            &-fecha{
                z-index: 1;                
                position: absolute;
                top: -5px;
                right: -15px;
                border-radius: 1rem;
                background-image: linear-gradient(to right, map-get($colores,celeste),map-get($colores,azul) 90%);
                color: map-get($colores,negro);
                &::after{ 
                    z-index: -1;                   
                    position: absolute;
                    content: '';
                    width: 15px;
                    height: 23px;
                    right: 0;
                    top: 17px;
                    background: map-get($colores,azul);
                }
                &::before{
                    z-index: 1;
                    position: absolute;
                    content: '';
                    width: 15px;
                    height: 20px;
                    right: 0;
                    top: 32px;
                    border-top-right-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    background-color: map-get($colores,sombra);
                }
            }
            &-precio{
                @include precio;
            }
        }
    }
}