footer {
    color: map-get($colores,blanco);
    background-image: linear-gradient(to top, map-get($colores,negro) 90%, map-get($colores,transparente));
    .redes {
        width: 40px;
        height: 40px;
    }
}