footer {
    color: map-get($colores,claro);
    background-image: linear-gradient(to top, map-get($colores,oscuro) 90%, rgba(0, 0, 0, 0));
    .redes {
        width: 40px;
        height: 40px;
    }
}