header {
    
    background-image: linear-gradient(to bottom, map-get($colores,negro) 90%, map-get($colores,transparente));
    cursor: default;
    .logo {
        width: 68px;
        height: 51px;        
    }
    .lTexto {
        color: white;
        font-size: 2rem;
        animation-name: led;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 5s;
        animation-direction: reverse;
        animation-delay: 2s;
        @keyframes led {
            0%{text-shadow: 0 0 2px map-get($colores, celeste);}
            25%{text-shadow: 0 0 2px map-get($colores, celeste),0 0 5px map-get($colores, celeste);}
            50%{text-shadow: 0 0 2px map-get($colores, celeste),0 0 5px map-get($colores, celeste),0 0 10px map-get($colores, celeste),0 0 15px map-get($colores, celeste);}
            75%{text-shadow: 0 0 2px map-get($colores, celeste),0 0 5px map-get($colores, celeste);}
            100%{text-shadow: 0 0 2px map-get($colores, celeste);}
        }
    }
    div nav {
        .link{
            position: relative;
            color: map-get($colores,celeste);
            &::before{
                content: "";
                position: absolute;
                bottom: -2px;
                height: 2px;
                width: 0%;
                background: map-get($colores,azul);
                transition: .5s;
                cursor: pointer;
            }
            &:hover{            
                color: map-get($colores,azul-celeste );
            }
            &:hover::before{
                width: 100%;
            }
        }
        .active{
            position: relative;
            color: map-get($colores,blanco);            
        }        
    }
}

