header {
    color: white;
    background-image: linear-gradient(to bottom, map-get($colores,oscuro) 90%, rgba(0, 0, 0, 0));
    .logo {
        width: 68px;
        height: 51px;        
    }
    .lTexto {
        font-size: 2rem;
        animation-name: led;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 6s;
        animation-direction: reverse;
        animation-delay: 2s;
        @keyframes led {
            0%{text-shadow: 0 0 2px map-get($colores, primario);}
            25%{text-shadow: 0 0 2px map-get($colores, primario),0 0 5px map-get($colores, primario);}
            50%{text-shadow: 0 0 2px map-get($colores, primario),0 0 5px map-get($colores, primario),0 0 10px map-get($colores, primario),0 0 15px map-get($colores, primario);letter-spacing: 1px;}
            75%{text-shadow: 0 0 2px map-get($colores, primario),0 0 5px map-get($colores, primario);}
            100%{text-shadow: 0 0 2px map-get($colores, primario);}
        }
    }
    div nav a{
        color: map-get($colores,claro);
    }
}

