.juegos{
    &-articulo{
        &-link{
            @include animación_producto;
            &:hover{        
                @include escalado;
                .juegos-articulo-link-precio{
                    opacity: 1;
                }  
                .juegos-articulo-link-descuento-contenedor{
                    background-position: right;
                }                        
            }
            &-imagen{
                @include sombra_producto;
            }
            &-descuento{                
                @include descuento;
            }
            &-precio{
                @include precio;
            }            
        }  
        &-nombre{
            margin-bottom: 1rem;
        }      
    }
}